@import "tailwindcss";

@layer base {
  body {
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}

/* Animaciones personalizadas */
@keyframes float {
  0% { transform: translateY(-5px); }
  100% { transform: translateY(-15px); }
}

/* Clases de utilidad personalizadas */
@layer utilities {
  .delay-500 {
    animation-delay: 500ms;
  }

  .delay-1000 {
    animation-delay: 1000ms;
  }
}